$icon-font-path: "../lib/bootstrap-sass/assets/fonts/bootstrap/";

@import "lib/bootstrap-sass/assets/stylesheets/_bootstrap";

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}